.card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  
    .bg-image {
      position: relative;
      
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(251, 251, 251, 0.15);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      
      &:hover {
        .mask {
          opacity: 1;
        }
      }
    }
    
    .card-body {
      padding: 15px;
      
      .card-title {
        font-size: 1.25rem;
        margin-bottom: 10px;
      }
      
      .card-text {
        font-size: 1rem;
        color: #555;
        margin-bottom: 15px;
      }
      
      .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        
        .price {
          font-size: 1.25rem;
          color: #555;
        }
        
        .btn-primary {
          background-color: #007bff;
          color: #fff;
          padding: 8px 16px;
          border: none;
          border-radius: 4px;
          text-decoration: none;
          font-size: 1rem;
          transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  
          &:hover {
            background-color: #0056b3;
            transform: scale(1.05);
          }
  
          &:active {
            background-color: #e74c3c;
            transform: scale(0.95);
          }
        }
      }
    }
  }
  .custom-select {
    width: 20%;
    padding: 6px; /* Adjust the padding to make the select box smaller */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px; /* Adjust the font size to make the text smaller */
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
  
    /* Styling for the dropdown options */
    option {
      font-size: 14px; /* Adjust the font size for the options */
      padding: 3px; /* Adjust the padding for the options */
    }
  }  